@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*import '../Components/Styling/SideMenu.css'*/

body {
    position: relative;
    /*display: flex;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #171417;
}

.SprintGoal{
    margin-left: 270px;
}

.CurrentSprint{
    position: relative;
    margin-left: 270px;
    display: flex;
}
.home {
    position: absolute;
    box-sizing: border-box;
    margin: 0 auto;
    /*padding: 20;*/
    padding-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.scaleabilityBody{
    position: relative;
    /*flex-wrap: wrap;*/
    justify-content: center;
    display: flex;
}
.ScrumDashboardText{
    position: relative;
    padding-top: 25px;
    margin-left: 10px;

    font-family: 'GT Eesti Pro Display UltraBold',"Arial Black",Arial,sans-serif;;
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 59px;
    letter-spacing: -1px;
    color: #fff;
    text-transform: uppercase;
    background-color: #171417;
    display: flex;
}
.home, .reports, .products {
    position: relative;
    /*display: flex;*/
    /*height: 90vh;*/
    align-items: center;
    /*justify-content: center;*/
    /*font-size: 3rem;*/
}
.boxBurndownChart{
    margin-left: 10px;
}