.BurndownChart {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 15px;
    padding-bottom: 3px;
    color: #fff;
}

.boxBurndownChart  {
    position: relative;
    /*margin-left: 270px;*/
    margin-right: 50px;
    margin-bottom: 20px;
    /*width: 250px;*/
    padding: 5px;
    background: #302a2a;
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .1);*/
    border-radius: 8px;
    /*margin: 10px;*/
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;

}

.bd-text{
    color: #fff
}
