.containerPersonalTickets .boxPersonalTickets {
    position: relative;
    width: 575px;
    padding: 10px;
    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    margin-top: -1px;

}

table, th, td {
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
    border-collapse:separate;
    -webkit-border-vertical-spacing: 10px;
}
th, td {
    padding-inline: 43px;
    padding-bottom: 10px;
    padding-top: 10px;
}
th {
    color: white;
    text-align: left;
}
td {
    color: white;
    border: solid 1px #000;
    border-style: solid none;
    padding: 5px;
    background-color: #171417;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

a {
    color: white;
}

li {
    list-style-type: none;

}