.PersonalAvailability {
    position: relative;
    /*margin-left: 270px*/
    margin-bottom: 20px;
    /*width: 250px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    overflow: hidden;
    resize: both;
    height: 200px;



}
