@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Grafiek container */
.containerGrafiek {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 200px;
}

.containerGrafiek .boxGrafiek {
    position: relative;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 350px;
    padding: 20px;
    background: #302a2a;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

/* Tickets container */
.containerTickets {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    justify-content: center;
}

.containerTickets .boxTickets {
    position: relative;
    margin-left: 270px;
    margin-right: 50px;
    margin-bottom: 20px;
    /*width: 250px;*/
    padding: 5px;
    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    /*margin: 10px;*/
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
}

.containerTickets {
    font-size: 24px;
    color: #ffffff;
}

.BurndownBox {
    /*display: flex;*/
    /*justify-content: center;*/
    /*width: 65%;*/

}

.boxPersonalAvailability {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    margin-left: 99px;
    margin-bottom: 20px;

}

.boxPersonalAvailability .PersonalAvailability{
    width: 650px;
}

.personalProgress {
    position: relative;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    height: 190px;
    width: 103.5%;
    flex: wrap;
    float: left;

}

 .BurndownChart .box {

     position: relative;
     /*margin-left: 270px;*/
     margin-right: 50px;
     margin-bottom: 20px;
     margin-top: 40px;
     width: 610px;
     padding: -50px;
     background: #302a2a;
     box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
     border-radius: 8px;
     /*margin: 10px;*/
     box-sizing: border-box;
     overflow: hidden;
     text-align: center;
     height: 340px;
     float: left

}

.boxSprintGoal {
    margin-left: 11px;
    height: 200px;
    width: 570px;
    float: left

}

.box {
    /*padding-top:50px;*/
    /*margin-left: 0px;*/
    margin-top: 50px;
    /*margin: 100px;*/
    margin-right: 0px;
    height: 440px;
    width: 755px;
    /*width:*/


}

.box .BurndownChart .BurndownChartData{
    height: 100px;
}

.personalBurndownChart {
    position: relative;
    /*margin-left: 270px;*/
    margin-right: 0px;
    margin-bottom: 20px;
    width: 755px;
    padding: -50px;
    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    /*margin: 10px;*/
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    height: 440px;
    float: left
}