@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
    /*body*/
    /*{*/
    /*    margin: 0;*/
    /*    padding: 0;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    min-height: 100vh;*/
    /*    font-family: 'Poppins', sans-serif;*/
    /*}*/
.containerProgressStats {
    position: relative;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    height: 190px;
    width: 96%;
    flex: wrap;
    float: left;

}

.containerProgressStats .box {
    position: relative;
    width: auto;
    padding: 40px;
    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containerProgressStats .box h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #302a2a;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.containerProgressStats .box1 {
    color: #ffffff;
    position: relative;
    width: 250px;

    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-right: 10px;*/
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containerProgressStats .box1 h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #DA221E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.containerProgressStats .box2 {
    position: relative;
    color: #ffffff;
    width: 250px;

    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containerProgressStats .box2 h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #E95A3C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.containerProgressStats .box3 {
    position: relative;
    color: #ffffff;
    width: 250px;

    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containerProgressStats .box3 h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #ff8d32;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.containerProgressStats .box4 {
    position: relative;
    color: #ffffff;
    width: 250px;

    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containerProgressStats .box4 h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #8FC641;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.containerProgressStats .box5 {
    position: relative;
    color: #ffffff;
    width: 250px;

    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.containerProgressStats .box5 h2 {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    /*background: #219440;*/
    background: #159B39;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}
