@import 'https://code.highcharts.com/css/highcharts.css';

.progressBar {
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 3px;

}

.boxProgressBar {
    position: relative;
    /*margin-left: 270px;*/
    margin-right: 50px;
    margin-bottom: 20px;
    /*width: 250px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    background: #302a2a;
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .1);*/
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    color: #fff;
    font-weight: bold;

}

.highcharts-background {
    fill: #302a2a;
    /*stroke: #a4edba;*/
    /*stroke-width: 2px;*/

}
