/**{*/

/*}*/
.SideMenu {
    background-color: #171417;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu {
    background-color: #171417;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0%;
    transition: 850ms;
}

/*.nav-menu.active {
    left: 0;
    transition: 350ms;
}*/
.dharmaLogo{
    padding-top: 150px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 400px;
    font-family: 'Lato', sans-serif;
}

.nav-text a {
    text-decoration: none;
    font-family: 'Lato', sans-serif, Bold;
    font-size: 25px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 59px;
    letter-spacing: -1px;
    color: #fff;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-radius: 4px;

}

.nav-text a:hover {
    background-color: #1a83ff;

}

.nav-menu-items {
    width: 100%;
}*

.navbar-toggle {
    background-color: #171417;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}
ul{
    list-style-type: none;
    width: 280px;
}

