
.sprintGoal {
    margin-top: -10px;
    margin-left: 3px;
    margin-right: 30px;
    padding-bottom: 3px;
    align-items: center;
    justify-content: right;
    width: 35%;




}
.textBox{
    font-size: 15px;
    margin-top: -15px;
    background-color: #171417;
    color: white;
    border: #171417;
    resize: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px;
    margin-left: 3px;
    width: 270%;
}


.boxSprintGoal {
    /*{*/
    height: 170px;
    color: #ffffff;
    position: relative;
    width: 600px;
    /*padding: 40px;*/
    background: #302a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0,.1);
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    width: 32%;
    margin-left: -20px;






}