.sprintGoal {
    height: 60%;
    float: left;
}
.boxSprintGoal{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    float: left;
    height: 160px;
}

.box .progressBar{
    margin-bottom: -20px;
}

.ScrumDashboardText{
    margin-top: -15px;
}



.sprintGoalAndTeamInfo {
    height: 30%;
}

.main {
    height: 96.5%;
    width: 60%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 15px;
    padding-bottom: 3px;
    color: #fff;
}

.box {
    position: relative;
    /*margin-left: 270px;*/
    margin-right: 50px;
    margin-bottom: 20px;
    /*width: 250px;*/
    padding: 5px;
    background: #302a2a;
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .1);*/
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;


}

.containerProgressStats {
    height: 180px;
}

.content {
}
.container {
    margin-left: 0px;
}

.teamburndownchart {
    position: relative;
    margin-right: 0px;
    padding: 5px;
    background: #302a2a;
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, .1);*/
    border-radius: 8px;
    /*margin: 10px;*/
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-left: 15px;
    height: 500px;
    width: 742px;
}

.teamburndownchart .box {
    width: 846px;
    height: 500px;
}
.teamburndownchart .box .BurndownChart{
    width: 846px;
    height: 500px;
}


.teamprogressstats {
    position: relative;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    height: 190px;
    width: 103.5%;
    flex: wrap;
    float: left;
}

.boxTeamInfo {
    display: flex;
    justify-content: start;
}